<div class="header">



    <div class="nav-log">
        <div class="menu">
            <button class="menu-button">
                <i class="fa-solid fa-bars" style="color: white;font-size: 2rem;"></i>
            </button>
        </div>
        <div class="logo-image">
            <img class="logioo" src="./../../assets/logo.jpg">
        </div>
    </div>

    <div class="menuoo">
        <div class="nav_ll">

            <button class="kjdskjds">Order</button>
            <button class="kjdskjds">Locaton</button>
            <button class="kjdskjds">Contact Us</button>
            <button class="kjdskjds">About us</button>
            <button class="kjdskjds">Add your restaurent</button>
        </div>


    </div>

    <div class="credental">

        <button class="signIn">Sign up</button>
        <button class="signIn">Sign in</button>
    </div>


    <!-- <img  src="../../assets/fake (1).jpg"   style="width: 300px;"> -->









</div>
<div class="header2 mb-3">
    <div class="second-conyte mt-4">
        <div class="line1">
            <p>Why</p> <img src="../../assets/go.jpg" style="width: 67px; height: 67px;">
            <p>out when,</p>

        </div>
        <p class="uosre">you can Grubz in</p>

        <div class="searh">

            <i class="fa-brands fa-telegram"></i>
            <input type="text" class="inpurbnjsd" placeholder="Enter postcode or delivery address ">
            <button   class="search-ooo"> Search</button>


        </div>

        <div class="likes">
    
        <div class="resttty">
            <h3  style="text-align: center; color: white;">230</h3>
            <p style="color: white;">Restaurents</p>
        </div>
        <div class="resttty">
            <h3  style="color: white;">30,000</h3>
            <p  style="text-align: center; color: white;">User</p>
        </div>

        </div>
    </div>

    <div class="food-image " style="margin-top: 50px;">
        <img src="../../assets/Screenshot_20240108-160205_Gallery.jpg" style="width: 200px; height: 400px;">
    </div>
</div>