h2.viewall {
    font-weight: bold;
}

.ctyies {
    display: flex;
    justify-content: space-around;
}

.main-fooyter {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background: #fcf7f3;
    padding: 10px 15px 16px 33px;
    border-radius: 18px;
}
// .ssss{
//     display: flex;
//     justify-content: center;
// }

p.kll {
    font-size: .65rem;
    font-weight: 800;
   // text-align: center;
}

.ooo {
    text-align: center;
    margin-top: 49px;
}
.jksdksjdlsad{
    
        width: 75px;
        height: 60px;
        text-align: right;
        margin-top: 80px;
    
}

